.info-container {
    background-image: url("../../../assets/imgs/Background1.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;

    .triangle {
        width: 0;
        height: 0;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-bottom: 50px solid #555;
        position: absolute;
    }

    .arrow {
        position: absolute;
        bottom: 18px;
        left: -97%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-weight: bold;

        i {
            padding: 8px 9px;
            font-size: 34px;
            border: 3px solid black;
            cursor: pointer;
            border-radius: 50%;
        }
    }

    .wrapper {
        position: absolute;
        top: 23%;
        right: 75px;
        display: flex;
        flex-direction: column;

        h2 {
            text-align: right;
            margin-bottom: 60px;
        }
        
        form {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 5px 10px;
            .input {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: center;
                label {
                    font-size: 1.2rem;
                    margin-bottom: 5px;

                    span {
                        font-size: 10px;
                        color:red;
                    }
                }
                input {
                    padding: 15px;
                    direction: rtl;
                    width: 160px;
                    height: 20px;
                    outline: none;
                    border: none;
                }
            }
        }
    }
}
